*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    width:100%;
    background-color: black;
    color:white;
    min-height:3.5rem;
    text-align: center;
    padding-top: 0.8rem;
}

.choices{
    display: flex;
    min-height: 15rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

#rock{
    background-image: url(rock.png);
    background-size: cover;
}

#paper{
    background-image: url(paper.png);
    background-size: cover;
}

#scissor{
    background-image: url(scissors.png);
    background-size: cover;
}

.choice:hover{
    border: 3px solid black;
}

.choice{
    width: 12rem;
    height: 12rem;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid transparent;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.score-board{
    display:flex;
    height: 5rem;
    width: 15rem;
    align-items: center;
    justify-content:space-evenly;
}

.score{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    justify-content: space-evenly;
    align-items:center;
    gap:0.5rem;
    font-size: 1.2rem;
}

.move{
    display: flex;
    width: 24rem;
    height:3rem;
    background-color: rgb(228, 167, 53);
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    user-select: none;
    transition: all 0.2s ease-in;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

#reset{
    width:20rem;
    height:3rem;
    background-color: rgb(78, 147, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.6s;
}

#reset:hover{
    background-color: rgb(16, 109, 208);
}

@media (max-width: 600px) {
    .head{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    .choices{
        gap: 2rem;
    }

    .choice{
        width: 7rem;
        height: 7rem;
    }
    .move,#reset{
        width:15rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
}
